<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body align="center" bgcolor="#00bfff">
	<h1>MII Server Configuration</h1>
    <p th:text="'Database is Updated Successfully!'" />
    <br>
    
    
    <p><a href="/display">Order Details</a></p>
    
    
    <div class="" style="width:100%" align="center"> 
	<h1>Please Enter Site to see Order details</h1>
    <form action="#" th:action="@{/display}" th:object="${login}" method="post">
     	<p>Site: <input type="text" th:field="*{site}" /></p>
        <p><input type="submit" value="Save" /> <input type="reset" value="Reset" /></p>
    </form>
   </div>
    

</body>
</html>